.lead-magnet-options {
    width:100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
   
    .nav-circle {
        &-aquisition {
            left: 30%;
            .nav-circle{
                background: $yellow07;
            }
        }
    
        &-service {
            bottom:15%;
            .nav-circle{
                background: $red07;
            }
        }
        &-support {
            right:0;
            bottom: 15%;
            .nav-circle{
                background: $blue;
            }
        } 
        &-total-interactions {
            border:none;
            background-image: url('data:image/svg+xml,%3csvg width="100%25" height="100%25" xmlns="http://www.w3.org/2000/svg"%3e%3crect width="100%25" height="100%25" fill="none" rx="160" ry="160" stroke="DeepSkyBlue" stroke-width="3" stroke-dasharray="10%2c10" stroke-dashoffset="160" stroke-linecap="butt"/%3e%3c/svg%3e');
            
            left: 30%;
            top:30%;
            .nav-circle{
                background: #fff;
                span {
                    color:black;
                }
            }
        }
        &-small {
            .nav-circle {
                background:black;
            }
        }
        &-communication {
            right:0%;
            top:18%;
        }
        &-education {
            top:18%;
            left:0;
        }
        &-automation {
            top: 100%;
            left:40%;
            transform: translateY(-100%);
        }
    }

}
.lead-magnet-slider {
    .button-wrapper {
        position: relative;
        .prevent-go-back {
            position: absolute;
            top: -20px;
            left:10%;
            background-color: #fff;
            padding:2vh 2vw;
            transform:translateY(-100%);
            border-radius:10px;
            animation: fade-out .5s linear forwards;
            animation-delay: 2s;
        }
        .btn-hide {
            visibility: hidden;
        }
    }
}

.telesales {
    .wrapper {
        position: relative;

    }
    .pop-up {
        top:0;
        left:50%;
        transform:translateX(-50%);
        margin-top:2vh;
        background-color: #fff;
        color:$font-primary;
        width:30%;
        min-width:250px;
        border-radius:10px;
        position: absolute;
        &-inner {
            padding:1.5vh 2vw;
            position: relative;
        }
        p {
            text-align: center;
            font-size:14px;
        }
        .go-btn {
            color:#0E76A8;
            display: block;
            width:fit-content;
            cursor: pointer;
            margin:0 auto;
            text-decoration: underline;
            &:hover {
                opacity: 0.7;
            }
        }
        .close-btn {
            position: absolute;
            top:1.5vh;
            right:2vw;
            cursor: pointer;
            color:$light-gray;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}