.radio-btn {
    width:fit-content;
    box-sizing: border-box;
    @extend %fb-col;
    align-items: flex-start;
    margin:0 auto;
    &-wrapper {
        @extend %fb-fs;
        margin-top:15px;
        font-size:20px;
        color: $font-gray-light;
        cursor: pointer;
    }
    &-circle {
        box-sizing: border-box;
        width:30px;
        height: 30px;
        border:3px solid $light-gray;
        margin-right:10px;
        border-radius: 50%;
    }
    &-wrapper-checked {
        .radio-btn-circle {
            border:3px solid $green;
            position: relative;
            @extend %fb-c;
            &:after {
                position: absolute;
                width:16px;
                height: 16px;
                content: "";
                background: $green-blue;
                border-radius:50%;
            }
        }
        span {
            color:$green;
            font-weight: 500;
        }
    }
}




