.personality {
    width:100%;  
    min-height: 100vh;  
    background-image: linear-gradient(135deg, #d7f4ee, #ccd7ff,#D2DCFE,#D2DCFE);
    .container {
        width:95%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .left {
        width:35%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width:100%;
            aspect-ratio: 5.6 / 5.2;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        height: fit-content;
        min-height: 100vh;
        padding: 7vh 0;
        h1 {
            color:#3B4F7D;
            font-size: 34px;
            font-family: $raleway;
        }
        h2 {
            color:#3B4F7D;
            font-size: 24px;
            font-family: $roboto;
            margin:0;
        }
        .directions {
            color:#3B4F7D;
            font-size: 1vw;
            font-family: $roboto;
        }
        .list-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
       
        .text-box {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2vh;
            padding:2vh 0;
            white-space: nowrap;
            background: linear-gradient(94.96deg, 
            rgba(231, 238, 255, 0.5) 6.5%, 
            rgba(224, 234, 255, 0.5) 96%);
            box-shadow: 3px 3px 6px #C2CCEB, 
            -3px -3px 6px rgb(255, 255, 255);
            border-radius: 10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 1vw;
            line-height: 21px;
            color: #3B4F7D;
            transition:all 0.3s;
        }
        .selected {
            background: rgba(81, 99, 224, 0.9) ;
            color:#fff;
        }
        .next-btn { 
            transition: all 0.3s;
            cursor: pointer;
            color:#fff;
            max-width:200px;
            max-height: 80px;
            width:fit-content;
            padding:4vh 5vw;
            position: relative; 
            background: #7E8BEE;
            z-index:9;
            border-radius: 40px;
            box-shadow: 4px 4px 8px #C4CEF2, -4px -4px 8px #E9EDFF;
            &:after {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width:calc(100% - 10px);
                height: calc(100% - 10px);
                content: "Next";
                left:5px;
                top:5px;
                background: linear-gradient(94.03deg, 
                rgba(81, 99, 224, 0.9) 9.97%, #8893F0 93.24%);
                border-radius: 40px;
            }
        }
        .next-btn-disabled {
            opacity: 0.6;
        }
        .list-wrapper5_5 {
            .text-box {
                width:17%;
                margin-right:3%;
            }
        }
        .list-wrapper3_3 {
            .text-box {
                width:28%;
                margin-right:5%;
            }
        }
    }
}